<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>key1</key>
	<string>value1</string>
	<key>anotherKey</key>
	<integer>999</integer>
	<key>url</key>
	<string>http://datamb.info.tm/test</string>
	<key>url-insert</key>
	<string>http://datamb.info.tm/insertGps</string>
</dict>
</plist>
